---
import PortafolioLayout from "../../layouts/portafolioLayout.astro";
import IntroProyecto from "../../components/frame/introProyecto.astro";
import SeccionesProyecto from "../../components/frame/seccionesProyecto.astro";
import ImagenDobleProyecto from "../../components/frame/imagenDobleProyecto.astro";
import ImagenProyecto from "../../components/frame/imagenProyecto.astro";
import ImagenPausa from "../../components/frame/imagenPausa.astro";
---
<PortafolioLayout>
    <IntroProyecto negocio="Bull Capital Group" ciudad="Saltillo, Coahuila">
        <Fragment slot="introProyecto">
            <p>El proyecto de Bull Capital Group comenzó con un reto inusual: la ausencia de un manual de identidad. Sin embargo, esto se convirtió en una oportunidad para que el equipo de White Rhino Studio desarrollara desde cero una identidad visual que combinara atractivo estético y minimalismo.</p>
        </Fragment>
    </IntroProyecto>

    <ImagenProyecto imagen="/assets/images/proyectos/bcg/portada.webp" />

    <SeccionesProyecto numeracion="01" titulo="Entendiendo el Terreno">
        <Fragment slot="textoProyecto">
            <p>El primer paso fue una exhaustiva investigación del mercado. El equipo necesitaba comprender cómo posicionar a Bull Capital Group de manera única. Esto implicó definir un “look &amp; feel” que destacara, utilizando una paleta de colores sobria, tipografías cuidadosamente seleccionadas y un enfoque visual que transmitiera profesionalismo y confianza.</p>
        </Fragment>
    </SeccionesProyecto>

    <SeccionesProyecto numeracion="02" titulo="Creando Espacios que Respiran">
        <Fragment slot="textoProyecto">
            <p>Con un concepto claro en mente, el diseño del sitio se enfocó en crear espacios bien definidos para cada elemento. Esto permitió que cada componente visual tuviera su propio protagonismo, facilitando la navegación y proporcionando una experiencia de usuario fluida y agradable.</p>
        </Fragment>
    </SeccionesProyecto>

    <ImagenDobleProyecto imagen1="/assets/images/proyectos/bcg/seccion-01.webp" imagen2="/assets/images/proyectos/bcg/seccion-02.webp" />

    <SeccionesProyecto numeracion="03" titulo="Rompiendo la Seriedad">
        <Fragment slot="textoProyecto">
            <p>Para evitar que el sitio cayera en una formalidad excesiva, se introdujeron ilustraciones que ejemplificaban el contenido de manera creativa. Este toque rompió la seriedad del diseño, añadiendo una capa de dinamismo y accesibilidad que resonaría con los usuarios.</p>
        </Fragment>
    </SeccionesProyecto>

    <SeccionesProyecto numeracion="04" titulo="Decisiones en Conjunto">
        <Fragment slot="textoProyecto">
            <p>La colaboración con el cliente fue crucial. A través de un diálogo constante, se tomaron decisiones estratégicas sobre qué elementos eliminar y cuáles destacar. Este proceso permitió que el sitio reflejara con precisión la esencia del negocio, al tiempo que priorizaba la información más relevante para los clientes de Bull Capital Group.</p>
        </Fragment>
    </SeccionesProyecto>

    <ImagenDobleProyecto imagen1="/assets/images/proyectos/bcg/seccion-03.webp" imagen2="/assets/images/proyectos/bcg/seccion-04.webp" />

    <SeccionesProyecto numeracion="05" titulo="Un Sitio Limpio y Armónico">
        <Fragment slot="textoProyecto">
            <p>El resultado fue un sitio web que exuda limpieza y armonía. La combinación de colores, imágenes y tipografías crea una experiencia de lectura agradable y envolvente, donde cada elemento visual respira y encuentra su lugar en un diseño equilibrado.</p>
        </Fragment>
    </SeccionesProyecto>

    <SeccionesProyecto numeracion="06" titulo="Superando Desafíos, Creando Excelencia">
        <Fragment slot="textoProyecto">
            <p>El proyecto para Bull Capital Group es un ejemplo de cómo la creatividad y la colaboración pueden superar cualquier obstáculo. A pesar de la falta de un manual de identidad, White Rhino Studio logró crear un sitio web que no solo representa a la empresa, sino que también establece un nuevo estándar de simplicidad y elegancia en el diseño web.</p>
            <p>¡Visita el sitio y descubre cómo el minimalismo y la armonía pueden transformar la experiencia digital! <a href="https://bullcapital.com.mx/" target="_blank" rel="noopener noreferrer">Bull Capital Group</a>.</p>
        </Fragment>
    </SeccionesProyecto>

    <ImagenPausa imagen="/assets/images/proyectos/bcg/the-rhino.webp" />
</PortafolioLayout>