---
import PortafolioLayout from "../../layouts/portafolioLayout.astro";
import IntroProyecto from "../../components/frame/introProyecto.astro";
---
<PortafolioLayout>
    <IntroProyecto negocio="IANSA" ciudad="Saltillo, Coahuila">
        <Fragment slot="introProyecto">
            <p>Et laboris esse ut exercitation nostrud magna nostrud commodo consequat. Velit amet labore et commodo. Laborum reprehenderit est ut voluptate ullamco do aliquip occaecat tempor. Officia nostrud ullamco dolor aliqua eu in ex est cillum minim in aliqua aliquip. Minim dolore in ut non. Ad magna minim et consequat eu ea sit adipisicing cillum sint.</p>
        </Fragment>
    </IntroProyecto>
</PortafolioLayout>