---
import LogoWRS from "../images/logoWRS.astro";
---

<header>
    <div class="logo">
        <a href="/"><LogoWRS /></a>
    </div>
    <div id="burger-menu" class="menu-icon">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
    </div>
</header>

<style lang="scss">
    header {
        padding: 50px 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 11;

        @media screen and (width < 75em){
            padding: 40px 26px;
            background-color: rgb(10 30 40 / 0.8);
            backdrop-filter: blur(8px);
        }

        .logo {
            display: block;
            width: 90px;
        }

        .menu-icon {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: end;
            cursor: pointer;
            top: 15px;
            width: 40px;
            height: 21px;

            .line {
                display: block;
                width: 45px;
                height: 1px;
                background-color: var(--wrs-lime-color);

                &.line-1 {
                    width: 15px;
                }

                &.line-2 {
                    width: 30px;
                }
            }

            &:hover {
                .line {
                    background-color: white;

                    &.line-1 {
                        width: 30px;
                    }

                    &.line-2 {
                        width: 45px;
                    }

                    &.line-3 {
                        width: 15px;
                    }
                }
            }

            &.icon-close {
                display: block;

                .line-2 {
                    opacity: 0;
                }
                .line-1 {
                    width: 100%;
                    transform: rotate(-45deg);
                }
                .line-3 {
                    width: 100% !important;
                    transform: rotate(45deg);
                }

                &:hover {
                    .line {
                        background-color: rgb(255 255 255 / 0.4);
                        width: 100%;
            
                        &.line-2 {
                            width: 100%;
                        }
            
                        &.line-3 {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
</style>