---
interface imagenesProps {
    imagen1: string;
    imagen2: string;
}

const { imagen1, imagen2 } = Astro.props as imagenesProps;
---

<!-- <section class="imagen-doble">
    <div class="container">
        <div class="dividir-imagen" style={ { backgroundImage: `url(${imagen1})` } }></div>
        <div class="dividir-imagen" style={ { backgroundImage: `url(${imagen2})` } }></div>
    </div>
</section> -->

<section class="imagen-doble">
    <div class="container">
        <div class="row gy-3">
            <div class="col-12 col-xl-6 dividir-imagen">
                <img src={ imagen1 } alt="">
            </div>
            <div class="col-12 col-xl-6 dividir-imagen">
                <img src={ imagen2 } alt="">
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .imagen-doble {
        margin: 100px 0;

        @media screen and (width < 75em){
            margin: 40px 0;
        }

        .container {
            .dividir-imagen {
                min-height: 300px;
                height: auto;
                margin: 0;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

                img {
                    width: 100%;
                }
            }
        }
    }
</style>