---
import InnerHero from "../components/frame/innerHero.astro";
import WhoAreRhinos from "../components/frame/whoAreRhinos.astro";
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout>
	<InnerHero subtitulo="Llevamos tu visión al siguiente nivel" titulo="Transformamos tus ideas en realidades visuales que impactan y destacan." />

	<section id="lista-de-servicios">
		<div class="container">
			<div class="row justify-content-between combo-definition">
				<div class="col-12 col-xl-4">
					<h3>&iquest;Estás iniciando tu negocio o empresa?</h3>
					<p>Con un plan de trabajo bien definido, podemos lograr que entres a los negocios a tambor batiente con un combo que te ayude a sobresalir desde un inicio y que inlcuye lo siguiente:</p>
				</div>
				<div class="col-12 col-xl-7">
					<ul>
						<li>Sitio web [no contemplamos comercio en línea, solo presencia].</li>
						<li>Logotipo y manual de identidad.</li>
						<li>Diseño para tus redes sociales, de la vista nace el amor.</li>
						<li>Tarjeta de presentación electrónica (imagen) con código QR que te llevará a un menú con las diferentes maneras en que podrán contactarte. Claro, también si lo deseas, te hacemos el diseño para que lo puedas imprimir. Ahora, si te quieres ver como todo un empresario, mandamos hacer tu tarjeta metálica con código QR y chip NFC.</li>
					</ul>
				</div>
			</div>
			<div class="row justify-content-between combo-definition">
				<div class="col-12 col-xl-4">
					<h3>&iquest;Ya tu negocio o empresa están consolidados?</h3>
					<p>Cuando ya estas en el mundo de los negocios pero te falta presencia o no esta funcionando lo que tienes. Este combo es para ti y que incluye lo siguiente:</p>
				</div>
				<div class="col-12 col-xl-7">
					<ul>
						<li>Sitio web [no contemplamos comercio en línea, solo presencia].</li>
						<li>Logotipo y manual de identidad.</li>
						<li>Diseño para tus redes sociales, de la vista nace el amor.</li>
						<li>Tarjeta de presentación electrónica (imagen) con código QR que te llevará a un menú con las diferentes maneras en que podrán contactarte. Claro, también si lo deseas, te hacemos el diseño para que lo puedas imprimir. Ahora, si te quieres ver como todo un empresario, mandamos hacer tu tarjeta metálica con código QR y chip NFC.</li>
						<li>Landing pages o páginas de destino que son ideales para dar mas detalle de tus servicios o productos y que funcionan como un embudo de venta.</li>
						<li>Diseños para tu papelería de comunicación interna.</li>
						<li>Plantillas para que puedas generar tus publicaciones en las redes sociales y la imagen de tu empresa o negocio en ellas se vea muy bien alineada a lo que es tu imagen.</li>
						<li>&iexcl;Oye, pero tambien quiero tomar buenas fotos con mi móvil! Sin problemas te incluimos un curso de fotografía para que puede tener hermosas tomas con tu móvil.</li>
					</ul>
				</div>
			</div>
			<div class="row justify-content-between combo-definition">
				<div class="col-12 col-xl-4">
					<h3>&iquest;Tu empresa o negocio ya esta a nada de ser un VIP?</h3>
					<p>&iquest;Lo tienes todo, pero no te está funcionando o no sabes si lo que tienes está para romperla? Tenemos justo el combo de servicios que necesitas e incluye lo siguiente:</p>
				</div>
				<div class="col-12 col-xl-7">
					<ul>
						<li>Sitio web [no contemplamos comercio en línea, solo presencia].</li>
						<li>Logotipo y manual de identidad.</li>
						<li>Diseño para tus redes sociales, de la vista nace el amor.</li>
						<li>Tarjeta de presentación electrónica (imagen) con código QR que te llevará a un menú con las diferentes maneras en que podrán contactarte. Claro, también si lo deseas, te hacemos el diseño para que lo puedas imprimir. Ahora, si te quieres ver como todo un empresario, mandamos hacer tu tarjeta metálica con código QR y chip NFC.</li>
						<li>Landing pages o páginas de destino que son ideales para dar mas detalle de tus servicios o productos y que funcionan como un embudo de venta.</li>
						<li>Diseños para tu papelería de comunicación interna.</li>
						<li>Plantillas para que puedas generar tus publicaciones en las redes sociales y la imagen de tu empresa o negocio en ellas se vea muy bien alineada a lo que es tu imagen.</li>
						<li>&iexcl;Oye, pero tambien quiero tomar buenas fotos con mi móvil! Sin problemas te incluimos un curso de fotografía para que puede tener hermosas tomas con tu móvil.</li>
						<li>Plantillas para que puedas crear todas las landing pages o páginas de destino que necesitas. &iquest;Pero necesitas que alguien te enseñe a hacerlo? Sin problema te damos un curso para que lo puedas hacer tu mismo.</li>
						<li>Curso de publicación para redes sociales con un poco de inteligencia artificial para apalancarnos.</li>
						<li>Diseñamos las estrategias que tu marca necesita para tener un mejor posicionamiento, no solo en internet, tambien en tu ambito laboral y social.</li>
					</ul>
				</div>
			</div>
			<div class="row justify-content-between combo-definition">
				<div class="col-12 col-xl-6">
					<h3>&iquest;Te agradan los combos, pero prefieres tener un equipo creativo dentro de tu negocio por un tiempo determinado?</h3>
					<p>Nosotros podemos ser tu departamento creativo por un tiempo, en lo que tu negocio o empresa comienza a tomar altura (en una de esas, hasta nuestra relación puede extenderse mucho más).</p>
					<p>Pregunta por las tarifas que tenemos de acuerdo a la cantidad de horas mensuales que nos necesites.</p>
				</div>
				<div class="col-12 col-xl-6">
					<h3>Me encanta la idea, pero solo necesito uno o más servicios individuales.</h3>
					<p>Sin problema, podemos ofrecerte los servicios de acuerdo a tus necesidades, puedes darles un vistazo a continuación.</p>
					<p>En cualquiera de los casos, mandanos un <a href="https://wa.link/dras4k" target="_blank">WhatsApp</a>, contáctanos por nuestras redes sociales que encontrarás en el pie de página o mandanos un <a href="mailto:hi@whiterhino.cc">correo electrónico</a> y te atenderémos lo más pronto posible.</p>
				</div>
			</div>
		</div>
	</section>
	
	<section id="lista-de-valores">
		<div class="container">
			<div class="row d-flex gy-5">
				<div class="col-12 col-xl-4" data-aos="fade-down" data-aos-delay="">
					<h2>Diseño Gráfico en General</h2>
					<p>Transformamos ideas en imágenes que capturan la esencia de tu marca. Desde la concepción hasta la ejecución, cada pieza gráfica es una obra maestra que comunica con poder y claridad.</p>
				</div>
				<div class="col-12 col-xl-4" data-aos="fade-down" data-aos-delay="200">
					<h2>Diseño de Identidad Visual (Logotipos)</h2>
					<p>Tu logo es más que un símbolo; es la cara de tu negocio. Creamos identidades visuales que cuentan tu historia en un solo vistazo, dejando una impresión imborrable.</p>
				</div>
				<div class="col-12 col-xl-4" data-aos="fade-down" data-aos-delay="400">
					<h2>Diseño de Marca</h2>
					<p>Construimos marcas que son más que un nombre y un logo. Diseñamos experiencias completas que resuenan en la mente y el corazón de tus clientes, diferenciándote en el mercado.</p>
				</div>
				<div class="col-12 col-xl-4" data-aos="fade-down" data-aos-delay="600">
					<h2>Diseño de Imagen para Redes Sociales</h2>
					<p>Haz que tu marca brille en cada plataforma. Diseñamos contenido visual que captura la atención y genera conversaciones, haciendo que tu presencia en redes sea inolvidable.</p>
				</div>
				<div class="col-12 col-xl-4" data-aos="fade-down" data-aos-delay="800">
					<h2>Diseño de Manuales (Internos y de Productos)</h2>
					<p>Comunicamos con claridad y estilo. Ya sea un manual de procesos o de productos, creamos guías visualmente atractivas y funcionales que facilitan la comprensión y el uso.</p>
				</div>
				<div class="col-12 col-xl-4" data-aos="fade-down" data-aos-delay="1000">
					<h2>Diseño de Presentaciones de Venta</h2>
					<p>Convierte cada presentación en una oportunidad de venta. Diseñamos presentaciones que cuentan tu historia de manera convincente y persuasiva, dejando una impresión duradera en tus clientes.</p>
				</div>
				<div class="col-12 col-xl-8" data-aos="fade-down" data-aos-delay="1200">
					<h2>Diseño y Programación Web</h2>
					<p>Creamos sitios web que no solo son visualmente impactantes, sino que también funcionan a la perfección. Con un equilibrio entre estética y usabilidad, hacemos que cada clic cuente.</p>
				</div>
			</div>
		</div>
	</section>

	<WhoAreRhinos />
</MainLayout>