---
import InnerHero from "../components/frame/innerHero.astro";
import WhoAreRhinos from "../components/frame/whoAreRhinos.astro";
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout>
	<InnerHero subtitulo="Llevamos tu visión al siguiente nivel" titulo="Transformamos tus ideas en realidades visuales que impactan y destacan." />
	
	<section id="lista-de-valores">
		<div class="container">
			<div class="row d-flex gy-5">
				<div class="col-12 col-xl-4" data-aos="fade-down" data-aos-delay="">
					<h2>Diseño Gráfico en General</h2>
					<p>Transformamos ideas en imágenes que capturan la esencia de tu marca. Desde la concepción hasta la ejecución, cada pieza gráfica es una obra maestra que comunica con poder y claridad.</p>
				</div>
				<div class="col-12 col-xl-4" data-aos="fade-down" data-aos-delay="200">
					<h2>Diseño de Identidad Visual (Logotipos)</h2>
					<p>Tu logo es más que un símbolo; es la cara de tu negocio. Creamos identidades visuales que cuentan tu historia en un solo vistazo, dejando una impresión imborrable.</p>
				</div>
				<div class="col-12 col-xl-4" data-aos="fade-down" data-aos-delay="400">
					<h2>Diseño de Marca</h2>
					<p>Construimos marcas que son más que un nombre y un logo. Diseñamos experiencias completas que resuenan en la mente y el corazón de tus clientes, diferenciándote en el mercado.</p>
				</div>
				<div class="col-12 col-xl-4" data-aos="fade-down" data-aos-delay="600">
					<h2>Diseño de Imagen para Redes Sociales</h2>
					<p>Haz que tu marca brille en cada plataforma. Diseñamos contenido visual que captura la atención y genera conversaciones, haciendo que tu presencia en redes sea inolvidable.</p>
				</div>
				<div class="col-12 col-xl-4" data-aos="fade-down" data-aos-delay="800">
					<h2>Diseño de Manuales (Internos y de Productos)</h2>
					<p>Comunicamos con claridad y estilo. Ya sea un manual de procesos o de productos, creamos guías visualmente atractivas y funcionales que facilitan la comprensión y el uso.</p>
				</div>
				<div class="col-12 col-xl-4" data-aos="fade-down" data-aos-delay="1000">
					<h2>Diseño de Presentaciones de Venta</h2>
					<p>Convierte cada presentación en una oportunidad de venta. Diseñamos presentaciones que cuentan tu historia de manera convincente y persuasiva, dejando una impresión duradera en tus clientes.</p>
				</div>
				<div class="col-12 col-xl-8" data-aos="fade-down" data-aos-delay="1200">
					<h2>Diseño y Programación Web</h2>
					<p>Creamos sitios web que no solo son visualmente impactantes, sino que también funcionan a la perfección. Con un equilibrio entre estética y usabilidad, hacemos que cada clic cuente.</p>
				</div>
			</div>
		</div>
	</section>

	<WhoAreRhinos />
</MainLayout>