---
import MainLayout from "../layouts/mainLayout.astro";
import InnerHero from "../components/frame/innerHero.astro";
---

<MainLayout>
	<InnerHero subtitulo="Nuestros valores, nuestros mandamientos" titulo="Creatividad ilimitada, calidad excepcional y pasión por el impacto. En White Rhino Studio, innovamos, empatizamos y buscamos la excelencia." />

	<section id="lista-de-valores">
		<div class="container">
			<div class="row d-flex gy-5">
				<div class="col-12 col-xl-4">
					<h2>Creatividad Desenfrenada</h2>
					<p>Nos impulsa la pasión por lo inesperado. Siempre buscamos romper moldes y explorar nuevas fronteras en el diseño.</p>
				</div>
				<div class="col-12 col-xl-4">
					<h2>Calidad Excepcional</h2>
					<p>Cada detalle cuenta. Nos comprometemos a entregar un trabajo de la más alta calidad, que esté a la altura de cualquier gran empresa.</p>
				</div>
				<div class="col-12 col-xl-4">
					<h2>Empatía con el Cliente</h2>
					<p>Entendemos las necesidades de nuestros clientes y nos dedicamos a crear soluciones que realmente reflejen su visión y objetivos.</p>
				</div>
				<div class="col-12 col-xl-4">
					<h2>Innovación Constante</h2>
					<p>Estamos siempre en la vanguardia de las tendencias y tecnologías, ofreciendo soluciones modernas y efectivas.</p>
				</div>
				<div class="col-12 col-xl-4">
					<h2>Pasión por el Impacto</h2>
					<p>No solo creamos diseño; creamos experiencias que resuenan y dejan una impresión duradera en el público.</p>
				</div>
				<div class="col-12 col-xl-4">
					<h2>Compromiso con la Excelencia</h2>
					<p>Nos exigimos constantemente, y no nos conformamos con nada menos que la perfección en cada proyecto.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="the-rhino">
		
	</section>
</MainLayout>