<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="primer-nivel">
                    <div class="ciudad">
                        Saltillo, Coahuila<span>.</span>
                    </div>
                    <div class="eslogan">
                        Unleash the<br>Creativity Beast!
                    </div>
                </div>
                <div class="segundo-nivel">
                    <div class="mensaje">
                        Envía tu mensaje <div class="linea-larga"></div> <a href="#">hi@whiterhino.cc</a>
                    </div>
                    <div class="redes-sociales">
                        <a href="#">FB</a>
                        <a href="#">IG</a>
                        <a href="#">IN</a>
                    </div>
                </div>
                <div class="tercer-nivel">
                    <div class="derechos">
                        <p>&copy; Todos los derechos reservados, WHITE RHINO STUDIO, Saltillo, Coahuila</p>
                    </div>
                    <div class="localidades">
                        MTY &mdash; SLT
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>