---

---
<div id="mega-menu">
    <div class="container">
        <div class="row col-12">
            <ul>
                <li><small class="numero-menu">01.</small><a href="/">Inicio</a></li>
                <li><small class="numero-menu">02.</small>Portafolio
                    <ul>
                        <li><a href="/portafolio/zion/">ZION</a></li>
                        <li><a href="/portafolio/sag">SAG</a></li>
                        <li><a href="/portafolio/tryser">Tryser</a></li>
                        <li><a href="/portafolio/iansa">IANSA</a></li>
                        <li><a href="/portafolio/bull-capital-group">Bull Capital Group</a></li>
                    </ul>
                </li>
                <li><small class="numero-menu">03.</small><a href="/servicios/">Servicios</a></li>
                <li><small class="numero-menu">04.</small><a href="/valores/">Valores</a></li>
                <!-- <li><small class="numero-menu">05.</small><a href="/blog">Blog</a></li> -->
            </ul>
        </div>
    </div>
</div>

<style lang="scss">
    #mega-menu {
        position: fixed;
        background-color: rgb(10 30 40 / 0.96);
        backdrop-filter: blur(20px);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;

        &.visible {
            display: flex;
            animation: megaMenuInAnimation forwards 1000ms ease-in-out;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-family: var(--wrs-monserrat-font);
                font-weight: 100;
                margin: 0;
                padding: 0;
                text-transform: uppercase;
                font-size: clamp(2.25rem, 2vw, 3rem);
                color: var(--wrs-mango-color);

                small {
                    font-size: 0.825rem;
                    position: relative;
                    display: inline-block;
                    top: -20px;
                    width: 60px;
                    color: rgb(255 255 255 / 0.7);
                }

                a {
                    font-family: var(--wrs-monserrat-font);
                    font-weight: 100;
                    text-transform: uppercase;
                    font-size: clamp(2.25rem, 2vw, 3rem);
                    color: var(--wrs-mango-color);
                    text-decoration: none;

                    &:hover {
                        color: rgba(255 255 255 / 0.4);
                    }
                }

                & > ul {
                    margin-left: 100px;

                    @media (max-width: 75em){
                        margin-left: 50px;
                    }

                    li {
                        margin: 8px 0;
                        font-size: clamp(0.8rem, 0.6vw, 0.875rem);

                        a {
                            font-family: var(--fh-ff-raleway);
                            font-size: clamp(0.8rem, 0.6vw, 0.875rem);
                            text-transform: uppercase;
                            color: rgb(255 255 255 / 0.9);

                            &:hover {
                                color: rgb(255 255 255 / 0.4);
                            }
                        }

                        &:first-child {
                            opacity: unset;
                        }
                    }
                }
            }
        }
    }

    @keyframes megaMenuInAnimation {
        from {
            opacity: 0;
            filter: blur(10px);
        }
        to {
            opacity: 1;
            filter: blur(0);
        }
    }

    @keyframes megaMenuOutAnimation {
        from {
            opacity: 1;
            filter: blur(0);
        }
        to {
            opacity: 0;
            filter: blur(10px);
        }
    }
</style>